<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreUser %><br>
    <%= f.text_field :nombreUser %>
  </div>
  <div class="field">
    <%= f.label :direccionUser %><br>
    <%= f.text_field :direccionUser %>
  </div>
  <div class="field">
    <%= f.label :telefonoUser %><br>
    <%= f.text_field :telefonoUser %>
  </div>
  <div class="field">
    <%= f.label :emailUser %><br>
    <%= f.text_field :emailUser %>
  </div>
  <div class="field">
    <%= f.label :contrasenaUser %><br>
    <%= f.text_field :contrasenaUser %>
  </div>
  <div class="field">
    <%= f.label :roluser %><br>
    <%= f.text_field :roluser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
