<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreuser:</strong>
  <%= @user.nombreUser %>
</p>

<p>
  <strong>Direccionuser:</strong>
  <%= @user.direccionUser %>
</p>

<p>
  <strong>Telefonouser:</strong>
  <%= @user.telefonoUser %>
</p>

<p>
  <strong>Emailuser:</strong>
  <%= @user.emailUser %>
</p>

<p>
  <strong>Contrasenauser:</strong>
  <%= @user.contrasenaUser %>
</p>

<p>
  <strong>Roluser:</strong>
  <%= @user.roluser %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
