<p id="notice"><%= notice %></p>

<p>
  <strong>Claveinterna:</strong>
  <%= @book.claveinterna %>
</p>

<p>
  <strong>Ejemplar:</strong>
  <%= @book.ejemplar %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.autor %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @book.tema %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @book.categoria %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @book.provider %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
